* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 1s;
  font-size: 10px;
}
body {
  font-family: "Inter", sans-serif;
  background-color: white;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  border: 2px solid gray;
}
.title {
  margin-top: 0;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: rgb(76, 75, 75);
}
.add-form {
  width: 100%;
  border: 2px solid gray;
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}
.input__add {
  border: none;
  outline: 0;
  width: 100%;
  background-color: white;
}
.input__add::placeholder {
  font-size: 2rem;
  width: 100%;
  color: rgb(184, 181, 181);
}
.input__add:valid {
  font-size: 2rem;
}
.button {
  cursor: pointer;
  background-color: white;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  border: 1px solid rgb(201, 201, 201);
  padding: 10px 20px;
  border-radius: 5px;
}
.button_clear,
.button_add {
  display: flex;
  align-self: flex-end;
  color: brown;
  background-color: white;
}
.button_clear {
  box-shadow: 3px 3px 3px gray;
}
.button_add {
  border: none;
}

.button_add:active {
  transform: scale(1.1);
  transition: 0.3s ease all;
}
.task-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0px;
  margin: 20px 0;
}
.task {
  border-bottom: 2px solid gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

input[type="checkbox"]:checked + .check-span::before {
  content: url("assets/icons/icon-check.svg");
  background-size: 8px 8px;
  position: absolute;
  top: -30%;
  left: -15%;
}
input[type="checkbox"]:checked + .message {
  text-decoration: line-through;
}
.check-span {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  position: relative;
  margin: 5px;
  background-color: white;
}
.delete-icon {
  background-image: url("./assets/icons/delete-icon.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: auto;
  border: none;
}
.message {
  display: flex;
  font-size: 2rem;
  color: rgb(76, 75, 75);
  align-self: center;
}

label {
  display: flex;
}
li {
  list-style: none;
  display: flex;
  align-items: baseline;
}
